<h1>Control panel</h1>
<h2><%= @organization.name %> | <small><%= link_to 'Edit organization name', edit_admin_organization_path(@organization) %> </small></h2>


<h3>List of users | <small><%= link_to "Invite a new user", new_user_invitation_path %>
</small></h3>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Stats (to come)</th>
  </tr>
<% @organization.users.each do |user| %>
  <tr>
  <td><%= "#{user.first_name} #{user.last_name}" %></td>
  <td><%= user.email %></td>
  <td>Stats to come</td>
  <td><%= link_to "Delete user", organization_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<h3>List of decks | <small><%= link_to 'Create a New Deck', new_admin_deck_path if admin_signed_in? %>
</small></h3>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organization.decks.each do |deck| %>
  <tr>
    <td><%= link_to deck.name, admin_deck_path(deck) %></td>
    <td><%= deck.description %></td>
    <td></td>
    <td><%= link_to 'Edit', edit_admin_deck_path(deck) %></td>
    <td><%= link_to 'Delete deck', [:admin, deck], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


