<h1>Edit <%= @deck.organization.name %> deck</h1>

<%= render 'form' %>

<%= link_to 'Back to deck', admin_deck_path %> |
<%= link_to 'Back to control panel', admin_root_path %> | 
<%= link_to 'Delete', @deck, method: :delete, data: { confirm: 'Are you sure?' } %>
