<h1><%= @deck.name %></h1>

<table>
  <tr>
    <th>Term</th>
    <th>Definition</th>
    <th>Hint</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= link_to card.term, admin_deck_card_path(@deck, card) %></td>
    <td><%= card.definition %></td>
    <td><%= card.hint %></td>
    <td><%= link_to 'Edit card', edit_admin_deck_card_path(@deck, card) %></td>
    <td><%= link_to 'Delete card', admin_deck_card_path(@deck, card), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_admin_deck_card_path(@deck) %>
