<%= link_to 'Back to your decks', decks_path %>

<h1><%= @deck.name %></h1>
<h2><%= @deck.description %></h2>
<table>
  <tr>
    <th>Term</th>
<!--     <th>Definition</th> -->
<!--     <th>Hint</th> -->
    <th>Your statistics</th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= link_to card.term, deck_card_path(@deck, card) %></td>
    <td><%= current_user.user_card_statistics(current_user, card) %></td>
<!--     <td><%# card.definition %></td> -->
<!--    <td><%# card.hint %></td> -->
  </tr>
<% end %>
</table>

<br />

<%# link_to 'New Card', new_deck_card_path(@deck) if user_signed_in? %>
