<%= link_to 'Back to all cards in this deck', deck_cards_path(@deck) %>

<h2>Deck: <%= @card.deck.name %></h2>

<% if @previous %>
  <%= link_to "< Previous ", deck_card_path(@deck, @previous) %>
<% end %>
<% if @previous && @next %>
 | 
<% end %>
<% if @next %>
  <%= link_to " Next >", deck_card_path(@deck, @next) %>
<% end %>


  <!-- - if @post.previous
    = link_to "< Previous", @post.previous
  - if @post.next
    = link_to "Next >", @post.next -->

<div id="card-holder">

	<div id="card">
    <p>
  	  <b>Term:</b>
	   <%= @card.term %>
    </p>
  </div>

  <div id="flipButtons">
    <a id="definition" class="flipButton" href="#">Answer</a>
    <a id="hint" class="flipButton" href="#">Need a hint?</a>
    <a id="revert" class="flipButton" href="#">Revert</a>
  </div> <!-- end flipButtons -->


  <!-- Guess radio buttons -->
  <div id="guesses">
  <%= form_for(@guess) do |f| %>
    <%= hidden_field(:guess, :card_id) %>
    <%= hidden_field(:guess, :user_id) %>
    <%= f.label :correct, "Correct", :value => "true" %>
    <%= f.radio_button :correct, "true" %>
    <%= f.label :correct, "Incorrect", :value => "false" %>
    <%= f.radio_button :correct, "false" %>
    <%= f.submit "Save guess" %>
  <% end %>
  </div>
  <!-- End guess radio buttons -->


</div> <!-- end card-holder -->


  <div id="hidden-cards">
	<div id="card-definition">
    <p>
  	  <b>Definition:</b>
  	  <%= @card.definition %>
    </p>
	</div> <!-- end card-definition -->

  	<div id="card-hint">
      <p>
    	  <b>Hint:</b>
    	  <%= @card.hint %>
      </p>
  	</div> <!-- end card-hint -->


  </div> <!-- end hidden cards -->


<%# link_to 'Add another card to this deck', new_deck_card_path %>

<%# link_to 'Edit', edit_deck_card_path(@deck) %> 


