<p id="notice"><%= notice %></p>

<p>
  <b>Deck:</b>
  <%= @card.deck.name %>
</p>

<p>
  <b>Term:</b>
  <%= @card.term %>
</p>

<p>
  <b>Definition:</b>
  <%= @card.definition %>
</p>

<p>
  <b>Hint:</b>
  <%= @card.hint %>
</p>

<p>
<%# link_to 'Add another card to this deck', new_deck_card_path %>
</p>
<%# link_to 'Edit', edit_deck_card_path(@deck) %> 
<%= link_to 'Back', deck_path(@deck) %>



