<h1>Your decks</h1>
<h2><%= current_user.organization.name %></h2>

<table>
  <tr>
    <th>Name</th>
    <th>All cards</th>
    <th>Description</th>
    <th>Percentage correct</th>
  </tr>

<% @decks.each do |deck| %>
  <tr>
    <td>
    	<% if deck.cards.count > 0 %>
    		<%= link_to deck.name, deck %>
    	<% else %>
    		<%= deck.name %> (Currently unavailable)
    	<% end %>
    </td>

    <td>
      <% if deck.cards.count > 0 %>
        <%= link_to "Cards", deck_cards_path(deck) %>
      <% end %>
    </td>
    <td><%= deck.description %></td>
    <td><%= current_user.user_deck_statistics(current_user, deck) %></td>
  </tr>
<% end %>
</table>

<br />

<%# link_to 'New Deck', new_deck_path if user_signed_in? %>
<br><br>

