<%= link_to 'Back to your decks', decks_path %>

<h1><%= @deck.name %></h1>
<p>This deck has <%= @deck.cards.count %> cards</p>

<div id="card-holder">

  <div id="card">
    <p>
      <b>Term:</b>
     <%= @deck_card.term %>
    </p>
  </div>

  <div id="flipButtons">
    <a id="definition" class="flipButton" href="#">Answer</a>
    <a id="hint" class="flipButton" href="#">Need a hint?</a>
    <a id="revert" class="flipButton" href="#">Revert</a>
  </div> <!-- end flipButtons -->

</div> <!-- end card-holder -->

  <div id="hidden-cards">

    <div id="card-definition">
      <p>
        <b>Definition:</b>
        <%= @deck_card.definition %>
      </p>
    </div> <!-- end card-definition -->

      <div id="card-hint">
        <p>
          <b>Hint:</b>
          <%= @deck_card.hint %>
        </p>
      </div> <!-- end card-hint -->

  </div> <!-- end hidden cards -->



<%# @deck_card.term %> 
<%# @deck_card.id %>

<!-- Future functionality to say whether you guessed correct -->
<%# link_to 'Correct!', { :controller => "guesses", 
                          :action => "create", 
                          :user_id => "current_user.id", 
                          :card_id => "deck_card.id" }, 
                          :method => "post" %>
<%# link_to 'Correct!', { controller: "guesses", action: "create", user_id: "current_user.id", card_id: "deck_card.id" }, method: "post" %>

<%# link_to 'Edit', edit_deck_path(@deck) %> 
